<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/validationengine/validation.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/lib/alertify/alertify.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/alertify/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/alertify/alertify.default.css" rel="stylesheet" />
    <link href="~/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="big-loader">
        <i class="fa fa-spinner fa-spin"></i>  Yükleniyor...
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.all.min.js"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script src="~/assets/global/plugins/validationengine/validationengine-tr.min.js"></script>
    <script src="~/assets/global/plugins/validationengine/validationengine.min.js"></script>
    <script src="~/lib/bootstrap-toastr/toastr.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/alertify/alertify.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>

    <script src="~/js/general.js"></script>
    <script src="~/js/datatablehelper.js"></script>
    <script src="~/js/alert.js"></script>
    <script src="~/js/entity.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
