
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrEdit</title>
</head>
<body>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
        <h2 class="display-4">AddorEdit Content here...</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-right" style="padding-right:10px">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    <br />
    <br />
</body>
</html>
